<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'personas/css/estilos_personas.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Personas</h1>
        <a href="{% url 'crear_persona' %}"><button class="crear">Crear Persona</button></a>
        <br> <br>
        <a href="{% url 'lista_personas' %}"><button class="listado">Listado de Personas</button></a>
        <br> <br>
        <a href="/"><button class="volver">Volver al Inicio</button></a>
    </div>
</body>
</html>
